
table{
  width 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px
}
td{
  height: 100px;
  width: 100px;
  background-color: lightgrey
  text-align:center;
  background-color:whitesmoke;
  border: solid;
  border-width: 0.5;
}
tr{
  text-align: center;
}
td:hover{
  background:darkgrey;
}
